<div class="container" style=" padding-top: 100px;">
  <% if !@user_image.errors.empty? %>
      <div class="alert alert-error">

        <ul>
          <% @user_image.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
  <% end %>

  <div class="well">
    <%= form_for @user_image, :url => url_for(:controller => 'user_image', :action => 'create'), html: {multipart: true} do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :attachment %>
        <%= f.file_field :attachment%>
        <br>
        <%= f.submit "Upload", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>