<style>
  .btn {
    width: 49% !important;
    display: inline-block;
    margin-top: 0 !important;
  }
</style>

<div class="container" style=" padding-top: 100px;">
  <%= error_messages_for(@user) %>
  <%= form_for @user, data: {validate: true}, :url => url_for(:controller => 'user', :action => 'create_user'), html: {id: 'myForm'} do |m| %>

      <%= m.label :user_id %>
      <%= m.text_field :user_id, :class => 'form-control' %>

      <br>
      <%= m.label :user_name %>
      <%= m.text_field :user_name, :class => 'form-control' %>

      <br>
      <%= m.label :password %>
      <%= m.password_field :password, :placeholder => "Password", :class => 'form-control' %>

      <br>
      <%= m.label :password_confirmation %>
      <%= m.password_field :password_confirmation, :placeholder => "Password confirm field", :class => 'form-control' %>

      <br>
      <%= m.label :date_of_birth %>
      <!--<%= m.date_select(:date_of_birth, :default => Time.now, :order => [:month, :day, :year], start_year: Date.today.year - 18, end_year: Date.today.year - 100, :html => {:class => "form-control"}) %>-->
      <%= m.date_select(:date_of_birth, {:order => [:month, :day, :year], :start_year => 1975, :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}}, :class => "form-control date-select") %>

      <br>
      <%= m.label :email %>
      <%= m.text_field :email, :class => 'form-control' %>

      <br>
      <%= m.label :note %>
      <%= m.text_field :note, :class => 'form-control' %>

      <br>
      <%= m.label :img_url %>
      <%= m.text_field :img_url, :id => 'userImage', :class => 'form-control' %>
      <br>
      <img id="userImageIcon" src=""/>
      <br>
      <br>
      <%= m.submit :value => 'Normal Submit', :class => 'btn btn-lg btn-success btn-block' %>
      <button type="button" id="submitButton" class="btn btn-lg btn-success btn-block">Submit JQuery Ajax</button>
  <% end %>
</div>
<script>

  $(function () {

    var projects = [
      {
        value: "jquery",
        label: "jQuery",
        desc: "the write less, do more, JavaScript library",
        icon: "jquery_32x32.png"
      },
      {
        value: "jquery-ui",
        label: "jQuery UI",
        desc: "the official user interface library for jQuery",
        icon: "jqueryui_32x32.png"
      },
      {
        value: "sizzlejs",
        label: "Sizzle JS",
        desc: "a pure-JavaScript CSS selector engine",
        icon: "sizzlejs_32x32.png"
      }
    ];

    $("#userImage").autocomplete({
      minLength: 0,
      source: function (input, response) {


        $.ajax({
          url: '/user_image/image_autocomplete',
          type: "POST",
          dataType: "json", // data respone from server
          data: input,

          success: function (result) {
            console.log("Success !")
//            console.log(result.all_image)
            response(result.all_image)
          },
          error: function () {
            console.log("Request fail ...")
          }
        });
      },
      focus: function (event, ui) {
        $("#userImage").val(ui.item.name);
        return false;
      },
      select: function (event, ui) {
        $("#userImage").val(ui.item.name);
        $("#userImageIcon").attr("src",ui.item.attachment.url);

        return false;
      }
    }).autocomplete("instance")._renderItem = function (ul, item) {
      return $("<li>")
          .append("<div>"
              + item.name + "<br>"
              + '<img src="'+item.attachment.url+'"/>'

              + "</div>")
          .appendTo(ul);
    }


    $('#submitButton').click(function () {
      var data = $('#myForm').serialize()

      $.ajax({
        url: $('#myForm').attr('action'),
        type: "POST",
        dataType: "json", // data respone from server
        data: data,
        processData: false,

        success: function (result) {
          console.log("Success !")
          console.log(result)
        },
        error: function () {
          console.log("Request fail ...")
        }
      });
    });


  });
</script>