<div class="container" style=" padding-top: 100px;">
  <h1>UPDATE USER "<%= @user.user_name %>"</h1>

  <%= error_messages_for(@user) %>
  <%= form_for @user, :validate => true, :url => url_for(:controller => 'user', :action => 'update_user'), :method => :put, html: {multipart: true} do |m| %>
      <%= m.hidden_field :id %>

      <%= m.label :user_id %>
      <%= m.text_field :user_id, :class => 'form-control' %>

      <br>
      <%= m.label :user_name %>
      <%= m.text_field :user_name, :class => 'form-control' %>

      <br>
      <%= m.label :password %>
      <%= m.password_field :password, :placeholder => "Password", :class => 'form-control' %>

      <br>
      <%= m.label :password_confirmation %>
      <%= m.password_field :password_confirmation, :placeholder => "Password confirm field", :class => 'form-control' %>

      <br>
      <%= m.label :date_of_birth %>
      <%= m.date_select(:date_of_birth, {:order => [:month, :day, :year], :start_year => 1975, :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}}, :class => "form-control date-select") %>

      <br>
      <%= m.label :email %>
      <%= m.text_field :email, :class => 'form-control' %>

      <br>
      <%= m.label :note %>
      <%= m.text_field :note, :class => 'form-control' %>

      <br>
      <%= m.submit :value => 'Create', :class => 'btn btn-lg btn-success btn-block' %>
  <% end %>


</div>
