<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width"/>
  <title>SimpleWeb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track' => true if params[:controller] == 'user' %>
  <%#= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track' => true if params[:controller] == 'user' %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82397514-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<%#
	header_partial = ERB.new(File.new("~/home-header.html.erb").read).result(binding)
	footer_partial = ERB.new(File.new("~/home-footer.html.erb").read).result(binding)
%>

<section class="header">
  <%#= header_partial %>
  <%= render 'layouts/home_header' %>
</section>
<section class="body">
  <%= yield %>
</section>
<section class="footer">
  <%#= footer_partial %>
  <%= render 'layouts/home_footer' %>
</section>
</body>
</html>